// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

@import url('https://fonts.googleapis.com/css?family=Poppins');

$primary: #00567F;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.container {max-width: 1380px;}

@media (max-width: 1600px) {
  .container {max-width: 1200px;}
}

.cl0{color: #fff;}
.cl1{color: $primary;}
.cl2{color: #00567F;}
.fs36{font-size: 36px;}
.fs12{font-size: 12px !important;}
.fs10{font-size: 10px !important;}

.font-wt600{
    font-weight: 600;
}

.d-md-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.flex-w, .flex-m, .flex-c-m, .flex-r-m, .flex-sb-m, .flex-col-l-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-w {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-c-m {
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.flex-r-m {
  justify-content: flex-end;
  -ms-align-items: center;
  align-items: center;
}

.h-full {
  height: 100%;
}

.p-lr-0{padding-right: 0px;}
.p-lr-0{padding-left: 0px;}

.p-t-5{padding-top: 5px;}
.p-r-35{padding-right: 35px !important;}

.w-50{width: 50%;}

.text-right {
    text-align: right;
}

a{
    text-decoration: none;
}

.bor1{border: 1px solid #00567F;}

.m-t-20{margin-top: 20px;}
.m-l-10{margin-left: 10px;}
.m-r-10{margin-right: 10px;}

input, textarea, label {
  display: block;
  outline: none;
  border: none;
}

button {
	outline: none;
	border: none;
	background: transparent;
	cursor: pointer;
}

button:focus {outline: none;}
.bg-1{background-color: #F4F6F8;}
.w-100{width: 100%;}
.h-100{height: 100%;}

.trans-04 {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.bg-style{
  background-image: url('~assets/bg-01.png');
  background-position: left center;
  background-repeat: no-repeat;
 
}
.align-items-center{ align-items: center;}
.container-login{
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.wrap-login{
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;
}
.wrap-form_login{
  width: 560px;
  min-height: 100vh;
  display: block;
  background-color: #fff;
  border-top-left-radius: 34px;
  border-bottom-left-radius: 34px;
  padding: 0px 55px 55px 55px;
  z-index: 1;
}

.header-card_form{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;
  padding: 20px 0 15px 0;
}

.dropdown_idioma select{
  background-color: transparent;
  border: none;
  height: 30px;
  color: #757575;
}

.form-group{
  margin-bottom: 1.5rem;
  position: relative;
}

.content_form{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: center;
      -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.login-wrap{
  position: relative;
  text-align: center;
}

.login-wrap h3{
  margin: 0 0 15px 0;
  font-family: 'Poppins';
  font-size: 28px;
  line-height: 1;
}

.login-wrap p{
  font-family: 'Poppins';
  font-size: 13px;
  color: #c5c5cd;
  margin-bottom: 25px;
  padding: 0 25px;
}

.form-LR{
padding: 8px 0;
position: relative;
max-width: 380px;
margin: 0 auto;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-control {
background: transparent;
font-family: 'Poppins';
font-size: 13px;
border: none;
padding: 0;
height: 40px;
color: #00567F;
border-bottom: 1px solid rgba(99, 99, 99, 0.4);
border-radius: 0;
}

input[type=checkbox]{
  height: 14px;
  font-size: 14px;
  width: 14px;
  margin-right: 10px;
  border: 1px solid rgb(255 255 255 / 10%);
  color: rgb(0 0 0 / 54%);
  cursor: pointer;
}

input[type=checkbox] + label, .nav-link{
font-size: 14px;
font-family: 'Poppins';
font-weight: 500;
color: #222;
cursor: pointer;
}

.nav-link{
text-decoration: none;
font-weight: 600;
color: #00567F;
}

.form-control:hover, .form-control:focus {
background: transparent;
outline: none;
-webkit-box-shadow: none;
box-shadow: none;
}

.form-control:hover, .form-control:focus {
background: transparent;
outline: none;
-webkit-box-shadow: none;
box-shadow: none;
}

.form-control:focus, .form-control:visited, .form-control:focus + .btn-view_pd {
color: #00567F;
border-color: #00567F;
}

.plh0::-webkit-input-placeholder { color: #999;}
.plh0:-moz-placeholder { color: #999;}
.plh0::-moz-placeholder { color: #999;}
.plh0:-ms-input-placeholder { color: #999;}

.btn {
  cursor: pointer;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 15px;
  font-family: 'Poppins';
}

.btn.btn-primary {
  background: #00567F;
  border: none;
  color: #fff;
}

.btn.btn-primary{
  background: #00567F;
}
.left-wrap-login{
width: calc(100% - 535px);
min-height: 100vh;
margin-right: -25px;
background-color: rgb(34 34 34 / 20%);
}

.header_left{
  padding-left: 50px;
  padding-top: 40px;
}

.left-login_footer{
  height: calc(100% - 120px);
display: flex;
align-items: flex-start;
justify-content: flex-end;
-moz-flex-direction: column;
-o-flex-direction: column;
flex-direction: column;
padding: 0 85px 0 50px;

}

.left-login_footer h2{
font-family: 'Poppins';
font-size: 56px;
font-weight: bold;
color: #fff;
line-height: 1.4;
}

.btn-view_pd{
position: absolute;
top: 0;
height: 100%;
right: 0;
line-height: 1.5;
font-size: 13px;
color:#999;
}

/* Header */
.container-menu-desktop{
  height: auto;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.wrap-menu-desktop {
  position: relative;
  z-index: 1100;
  background-color: transparent;
  width: 100%;
  height: 84px;
  top: 0px;
  left: 0px;
  -webkit-transition: height 0.3s, background-color 0.3s;
  -o-transition: height 0.3s, background-color 0.3s;
  -moz-transition: height 0.3s, background-color 0.3s;
  transition: height 0.3s, background-color 0.3s;
}

.limiter-menu-desktop {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  align-items: center;
  background-color: transparent;
  border-bottom: 1px solid #9F9F9F;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 65%;
  margin-right: 55px;
}

.center-desktop{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 15px;
}

.search-desktop{
  min-width: 480px;
}

.form_search{
  border-radius: 10px;
  width: 100%;
  height: 40px;
  background-color: #EAEAEA;
}

.form_search input {
  background-color: transparent;
  width: calc(100% - 40px);
  padding: 10px 25px 10px 5px;
  font-size: 12px;
  line-height: 1.8;
  color: #9F9F9F;
}

.form_search button {
    width: 40px;
    font-size: 21px;
    background-color: transparent;
    color: #9F9F9F;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.wrap-icon-header {
  flex-grow: 1;
}

.icon-header-item {
  position: relative;
  font-size: 21px;
  line-height: 1;
  cursor: pointer;
  margin-left: 15px;
}

.icon-header-noti::after {
  content: attr(data-notify);
  font-size: 12px;
  color: #fff;
  line-height: 15px;
  text-align: center;
  display: block;
  position: absolute;
  top: -7px;
  right: -10px;
  min-width: 15px;
  height: 15px;
  padding: 0 3px;
  background-color: #DEA400;
}

.q-drawer--left{
  overflow:hidden;
  transition:width .3s ease;
  height: calc( 100vh - 84px );
  padding-top: 46px;
  background-color: transparent !important;
  
}
.q-drawer--left.q-layout--prevent-focus {
  width: 64px !important;
  transform: translateX(0px) !important;
  visibility: visible !important;
  top: 84px;
    padding-top: 20px;
  left: auto;
}

.q-drawer--left .nav {
  list-style-type: none;
  color:white;
  padding-left: 0px;
  display: block;
  &:first-child {
    padding-top:1.5rem;
  }
} 

.nav__items {
  font-family: 'roboto';
  display: flex;
  align-items: center;
  margin-bottom: 15px;
   a {
   color: #00567F;
   font-size: 15px;
   font-weight: 500;
  }
   .svg-icon{
    width: 64px;
    position: relative;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.q-drawer--left.q-layout--prevent-focus  .nav__items{
  margin-bottom: 10px;
} 

.q-drawer--left.q-layout--prevent-focus .svg-icon{
  height: 48px;
  border-radius: 10px;
  font-size: 18px;
}

.q-drawer--left.q-layout--prevent-focus .svg-icon:hover{
  background-color: rgba(222, 164, 0, 0.36);
}

.q-drawer--left.q-layout--prevent-focus a{
  margin-right: -84px;
}

.btn-toggleLeftDrawer{
  position: absolute;
 z-index: 1024;
 width: 64px;
 display: flex;
 align-content: center;
 align-items: center;
 justify-content: center;
 margin-top: 10px;
}

.btn-toggleLeftDrawer button i {
 -webkit-transform: rotate(180deg);
 -moz-transform: rotate(180deg);
 -ms-transform: rotate(180deg);
 -o-transform: rotate(180deg);
 transform: rotate(180deg);
 font-size: 21px !important;
 color: #495057;
}

.btn-toggleLeftDrawer button i {
 transform-origin: center;
 -webkit-transition: all 0.3s;
 -o-transition: all 0.3s;
 -moz-transition: all 0.3s;
 transition: all 0.3s;
}

.footer_botton-sidebar{
  bottom: 0;
  position: absolute;
  width: 100%;
  padding-bottom: 10px;
}

.btn-footer{
  padding: 0 15px;
}
.footer-button{
background-color: #00567F;
color:#fff;
height: 56px;
padding: 10px 15px; 
border-radius: 5px;
}

.footer-button span{
  font-size: 12px;
  font-weight: 500;
}

.footer-button p{
  font-size: 10px;
  margin: 0;
}

.footer-button #title_type{
  width: calc(100% - 10px);
}

.q-drawer--left .footer-button img{
  display: none;
}

.q-drawer--left.q-layout--prevent-focus .btn-footer{padding: 0;}

.q-drawer--left.q-layout--prevent-focus .footer-button div{
  display: none;
}

.q-drawer--left.q-layout--prevent-focus  .footer-button{
  height: 54px;
  padding: 8px 13px;
}

.q-drawer--left.q-layout--prevent-focus  .footer-button img{
  display: block;
}

.body-page.q-page-container{
  padding-top: 25px;
  padding-left: 84px;
}


